@model IEnumerable<Library.Domain.BookDetails>

@{
    ViewData["Title"] = "Books";

    var status = Context.Request.Query["status"];
    var isAvailable = "text-primary";
    var all = "text-primary";

    switch (status)
    {
        case "isAvailable":
            isAvailable = "active text-white";
            break;
        case "all":
            all = "active text-white";
            break;
        default:
            break;
    }
}

<div class="p-3">
    <div class="d-flex justify-content-between pt-4">
        <div class="">
            <h2 class="text-primary">Books</h2>
        </div>
        <div class="row">

            <ul class="list-group list-group-horizontal-sm col-12">
                <a style="text-decoration:none;" asp-controller="Books" asp-action"Index" asp-route-satatus="isAvailable">
                <li class="list-group-item @isAvailable">Available</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Books" asp-action"Index" asp-route-satatus="all">
                <li class="list-group-item @all">All</li>
                </a>
                <a class="btn btn-primary mt-2 mt-sm-0 ml-sm-3 py-2 px-3" style="text-decoration:none; vertical-align: middle;" asp-controller="Books" asp-action="Create">
                    <i class="align-middle  bi bi-plus-circle"></i> <span class="align-middle">&nbsp; New</span>
                </a>

            </ul>
        </div>
    </div>
</div>
<div class="p-3">
    <table id="books" class="table table-striped table-hover display" cellspacing="0" width="100%">
        <thead>
            <tr class="bg-light">
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ISBN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Copies)
                </th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section scripts
{
<script src="~/js/books.js"></script>
}

