@model Library.MVC.Models.MemberVm;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Members</h1>

<p>
    <a asp-action="Create" class="btn btn-light">Create New</a>
</p>
<table class="table table-hover">
    <thead>
        <tr class="bg-light">
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SSN)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Members)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.ActionLink(item.Name, "Details", "Members", new { id = item.Id }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SSN)
                </td>

            </tr>
        }
    </tbody>
</table>
