@model Library.MVC.Models.AuthorVm

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Author</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
    </dl>
    <dl class="row">
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.Author.Id)
        </dd>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.Author.Name)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Delete" asp-route-id="@Model.Author.Id" class="btn btn-danger">Delete</a> |
    <a asp-action="Edit" asp-route-id="@Model.Author.Id" class="btn btn-info">Edit</a> |
    <a id="btn-show-books" class="btn btn-outline-info">Show books</a>
    <a id="btn-hide-books" class="btn btn-outline-info">Hide books</a> |
    <a asp-action="Index" class="btn btn-outline-info">Back to List</a>


</div>
<div id="book-details-author">
    <table class="table table-hover">
        <thead>
            <tr class="bg-light">
                <th>Book</th>
                <th>Title </th>
            </tr>
        </thead>
        <tbody>
            @{ int counter = 1;
                @foreach (var book in Model.Author.Books)
                {
                    <tr>

                        <td>
                            @counter
                        </td>

                        <td>
                            @book.Title
                        </td>


                    </tr>
                    counter++;
                }
            }
        </tbody>
    </table>
</div>